.jumbotron {
  background-color: #17a2b8;
  color: rgb(248, 244, 244);
}
.footer {
  margin-top: 6px;
  margin-bottom: 0px;
  color: black;
}
.card-producto {
  flex: 1 200px;
  margin-top: 20px; 
  }
  .producto {
   font-weight: bold; 
  }

  .descripcion {
    font-family: 'Times New Roman', Times, serif;
  }
  .precio {
    font-weight: bold;
    font-style: italic;
  }
  .btn-comprar {
    font-weight: bold;
  }